# Web development
Django==4.1.7

# Autoformatter
black==23.1.0

# Check codestyle
flake8==6.0.0

# Upgrade syntax
pyupgrade==3.3.1

# Pre-commit hook
pre-commit==3.0.4

# For environment variables and config
django-environ==0.9.0

# For DB connection
psycopg2-binary==2.9.5

# For images in Django
pillow==9.4.0

# For forms styling
crispy-bootstrap5==0.7