<nav class="navbar navbar-expand-lg bg-light">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'family_budget:budget' %}">All entries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'family_budget:create_post' %}">Create entry</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'family_budget:search_post' %}">Post search</a>
            </li>
        </ul>
    </div>
</nav>